{% extends 'base.html' %}
{% load static %}

{% block title %}| Dashboard{% endblock %}

{% block content %}

</head>
<body>

    <!--Navbar-->
    <nav class="nav">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <img src="{% static 'img/logo.JPG' %}" alt="logo">
              </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto logout">
            <li class="nav-item active mr-3">
                <a id="logout" class="nav-link" href="{% url 'account' %}"><img src="{% static 'img/logout.png' %}" width="30px" alt="logout"> Logout</a>
              </li>
        </ul>
    </nav>

    <!--Welcome section-->
    <section id="welcome">
        <h1>Welcome "{{user.first_name}}"!</h1>
    </section>

    <!--Content page-->
    <div class="content-div">
        
        <!--Left div-->
 
        <div class="left-div">
            <h3><u> Time off </u></h3><br><br>
            <ul>
                <li><button type="button" class="btn btn-primary" value="Show Div" onclick="showDiv1()">Add new date</button></li><br>
                <li><button type="button" class="btn btn-primary" value="Show Div3" onclick="showDiv3()">Show your list</button></li>
            </ul>
            <br><br><br><br><br><br>
        </div>

        <!--Right div-->

        <div id='right-div' class="right-div" >
            <!--container represent "Add new date" button-->
            <div id="first-container" style="display: none;" class="container">
                <h2 class="txtAbsence">Add new absence	&nbsp; 
                    <button type="button" class="btn btn-primary" value="Show Div2" onclick="showDiv2()">ADD</button></h2>

                <!--Card code-->
                <div id="card" style="display: none;">
                    <p>Please fulfill form bellow :</p>
                    <form action="submitCard" method="POST">
                        {% csrf_token %}
                        
                        {{ cardForm }}

                        <div id="wrapper">
                            <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>

            <!--Show your list button-->
            <div id="second-container">
                <div class="show-list">
                    <h2>Your cards list</h2>
                    <div class="cards-list">

                        {% if cards %}
                            {% for card in cards %}
                                <!-- Card 1 -->
                            <div class="date-card">
                                <p class="label">Date from:</p>
                                <p class="dateFrom">{{card.date_from}}</p>
                                <p class="label">Date to:</p>
                                <p class="dateTo">{{card.date_to}}</p>
                                <p class="label">Description:</p>
                                <p class="desc">{{card.description}}</p>                                
                            </div>

                            <!-- Pop out infodiv -->
                            
                            {% endfor %}
                        {% endif %}           
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock %}