{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="logo">
        </div>
        <div class="col-md-6">
            <div class="card">
                <form action="{% url 'login' %}" method="POST" class="box">
                    {% csrf_token %}
                    <h1>Login</h1>
                    <p class="subtitle"> Please enter your login and password!</p> 
                    <label for="Username">Username:</label>
                    <input type="text" name="username" placeholder="Username" required>
                    <label for="Password">Password:</label>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}