<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="card.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="card.js"></script>
  <title>card</title>
</head>
<body>

    <div class="container">
        <h2 class="txtAbsence">Add new absence	&nbsp; <button type="button" class="btn btn-primary" value="Show Div" onclick="showDiv()">ADD</button></h2>

        <div id="card" style="display: none;">
            <p>Please fulfill form bellow :</p>
            <form action="/action_page.php">
                
                <label for="initilDate">Date from: &nbsp;</label>
                <input type="date" id="initialDate" placeholder="dd-mm-yyyy" name="dateFrom" required>
                <label for="initilDate"> 	&nbsp; to 	&nbsp; </label>
                <input type="date" id="initialDate" placeholder="dd-mm-yyyy" name="dateTo" required><br><br>
                 
                
            <div class="form-group">
                <label for="comment">Description:</label>
                <textarea class="form-control" rows="5" id="comment" name="text" required></textarea>
          </div>
          <div id="wrapper">
              <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
          </div>
          
        </form>
        </div>
        
      </div>
    

</body>
</html>